@page

<h2>formulario para registarse</h2>

<form method="post" action="/Matricula/enviar">
    <label>nombre del estudiante</label>
    <input type="text" name="nombre" /><br>

    <label>documento</label>
    <input type="text" name="documento" /><br>

    <label>curso que desea estudiar</label>
    <input type="text" name="curso" /><br>

    <label>edad</label>
    <input type="number" name="edad" /><br>

    <label>email</label>
    <input type="email" name="email" /><br>

    <button type="submit">enviar matricula</button>
</form>
