@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><a class="btn btn-primary" href="/estudianteFormulario">Ver formulario de matrícula</a></p>
</div>